
<div class="row" style="width:740px; margin: 0 auto; padding: 0 40px">
  <div class="col-xs-4">
    <label>Curve type</label>
    <select class="form-control"
            ng-model="controls.type"
            ng-change="_doChangeCurve()">
      <option value="linear">Linear</option>
      <option value="step">Step</option>
      <option value="smooth">Smooth</option>
      <option value="spline">Spline</option>
    </select>
  </div>

  <div class="col-xs-4 form-group">
    <label>X Axis</label>
    <div class="row">
      <div class="col-xs-6" style="padding-right:2px;">
        <input type="number"
               class="form-control"
               ng-model="controls.x0"
               ng-change="_doChangeControls()"/>
      </div>
      <div class="col-xs-6" style="padding-left:2px;">
        <input type="number"
               class="form-control"
               ng-model="controls.x1"
               ng-change="_doChangeControls()"/>
      </div>
    </div>
  </div>

  <div class="col-xs-4 form-group">
    <label>Y Axis</label>
    <div class="row">
      <div class="col-xs-6" style="padding-right:2px;">
        <input type="number"
               class="form-control"
               ng-model="controls.y0"
               ng-change="_doChangeControls()"/>
      </div>
      <div class="col-xs-6" style="padding-left:2px;">
        <input type="number"
               class="form-control"
               ng-model="controls.y1"
               ng-change="_doChangeControls()"/>
      </div>
    </div>
  </div>
</div>

<div>
  <svg></svg>
  <input id="curveeditorfocus" style="position:fixed; left:-9999px;">
</div>