<a href=""
   class="btn btn-success btn-block"
   ng-click="openEditor();">
  Open editor
</a>

<modal>
  <div class="b3modal">
    <div class="b3modal-background" ng-click="closeEditor()"></div>
    <div class="b3modal-window large">
      <div class="b3modal-wrap">
        <!-- <h1 class="b3modal-title">node</h1> -->
        <div class="b3modal-content text-center">
          <curve-editor
            ng-model="tempData"
            lock-x-domain="model.lockXDomain"
            lock-y-domain="model.lockYDomain"
            lock-x-axis="model.lockXAxis"
            lock-y-axis="model.lockYAxis"
            disabled-types="model.disabledTypes"
            disable-new="model.disableNew"
            disable-edition="model.disableEdition"
            disable-snap="model.disableSnap"
            hide-pointers="model.hidePointers"
          ></curve-editor>
        </div>
      </div>
      
      <div class="b3modal-buttons">
        <input type="button" class="btn btn-default btn-lg" ng-click="closeEditor()" value="Cancel">
        <button type="submit" class="btn btn-success btn-lg" ng-click="saveEditor()">Save</button>
      </div>
    </div>
  </div>
</modal>