<div ng-class="{'b3-invalid': hasError}">
  <div class="c-5">
    <label for="property-{{model.name}}" class="b3-inline-label">Start</label>
    <input id="property-{{model.name}}"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="startValue"
           ng-keydown="onKeydown($event)">
  </div>
  <div class="c-2 b3-divisor b3-divisor-double">
    ...
  </div>
  <div class="c-5">
    <label for="property-to-{{model.name}}" class="b3-inline-label">End</label>
    <input id="property-to-{{model.name}}"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="endValue"
           ng-keydown="onKeydown($event)">
  </div>
</div>
<small ng-messages="errors">
  <span ng-message="invalid">{{errors.invalid}}</span>
  <span ng-message="minStart">{{errors.minStart}}</span>
  <span ng-message="maxStart">{{errors.maxStart}}</span>
  <span ng-message="minEnd">{{errors.minEnd}}</span>
  <span ng-message="maxEnd">{{errors.maxEnd}}</span>
  <span ng-message="order">{{errors.order}}</span>
</small>