<div ng-class="{'b3-invalid': hasError}">
  <div class="c-3">
    <label for="property-{{model.name}}-x" class="b3-inline-label">x</label>
    <input id="property-{{model.name}}-x"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="x"
           ng-keydown="onKeydown($event)">
  </div>
  <div class="c-3">
    <label for="property-to-{{model.name}}-y" class="b3-inline-label">y</label>
    <input id="property-to-{{model.name}}-y"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="y"
           ng-keydown="onKeydown($event)">
  </div>
  <div class="c-3">
    <label for="property-to-{{model.name}}-z" class="b3-inline-label">y</label>
    <input id="property-to-{{model.name}}-z"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="z"
           ng-keydown="onKeydown($event)">
  </div>
  <div class="c-3">
    <label for="property-to-{{model.name}}-w" class="b3-inline-label">y</label>
    <input id="property-to-{{model.name}}-w"
           class="form-control"
           type="number"
           ng-change="doChange()"
           ng-model="w"
           ng-keydown="onKeydown($event)">
  </div>
</div>

<small ng-messages="errors">
  <span ng-message="invalid_x">{{errors.invalid_x}}</span>
  <span ng-message="invalid_y">{{errors.invalid_y}}</span>
  <span ng-message="invalid_z">{{errors.invalid_z}}</span>
  <span ng-message="invalid_w">{{errors.invalid_w}}</span>
</small>