<div ng-controller="PropertiespanelController as propertiespanel" class="full-height side-panel" ng-cloak>

  <div ng-hide="propertiespanel.node" class="properties" ng-cloak>
    <br><br><br>
    <p class="text-center">Select a <strong>single</strong> block to change its properties.</p>
    <p class="text-center"><em>NOTE: The root node represents a tree. Therefore, changes applied to this node will persist on the tree object.</em></p>
  </div>
  
  <form ng-show="propertiespanel.node" ng-cloak>
    <div class="title">Node Information</div>
    <div class="properties">
      <div class="form-group">
        <label for="name">Name</label>
        <span id="name" class="properties-name">{{propertiespanel.node.name}}</span>
      </div>    

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" 
               class="form-control"
               name="title"
               placeholder="Title"
               ng-model="propertiespanel.node.title"
               ng-keydown="propertiespanel.keydown($event)"
               ng-change="propertiespanel.change()">
      </div>
    </div>
        
    <div class="title">Properties</div>
    <div ng-show="propertiespanel.node" class="properties" ng-cloak>
      <div class="form-group" ng-repeat="p in propertiespanel.properties">
        <label for="property-{{p.name}}" title="{{p.name}}">{{p.obj.getTitle()}}</label>
        <div bind-html-compile="p.html"></div>
      </div>
    </div>
  </form>
  
</div>